<div class="container ski-pass">
    <div class="ski-pass__header">
        <span class="container__title">Ски-пассы</span>
        <app-button></app-button>
        <a>
            <mat-icon svgIcon="dots" color="primary"></mat-icon>
        </a>
    </div>
    <div class="ski-pass__main">
        <ul class="ski-pass__main__list">
            <li class="ski-pass__main__list__item">
                Первый
            </li>
            <li class="ski-pass__main__list__item">
                Второй
            </li>
            <li class="ski-pass__main__list__item">
                Третий
            </li>
        </ul>
    </div>
    <div class="ski-pass__footer">
        <button></button>
    </div>
</div>