<div class="container container__ski-pass">

    <app-container-header></app-container-header>

    <div class="container__main">
        <ul class="container__main__list">
            <li *ngFor="let skiPass of skiPasses" class="container__main__list__item">
                <img src={{skiPass.imagePath}} alt={{skiPass.id}}>
                <div class="item-body">
                    <div>
                        <span class="item-body__ski-pass__text item-body__ski-pass__text_type">{{skiPass.type}} {{skiPass.time}}</span>
                        <span class="item-body__ski-pass__text item-body__ski-pass__text_price">{{skiPass.price}} p</span>
                    </div>
                    <a class="item-body__ski-pass__edit-menu">
                        <mat-icon svgIcon="dots" class="item-body__ski-pass__edit-menu__icon"></mat-icon>
                    </a>
                </div>
            </li>
        </ul>
    </div>

    <app-container-footer></app-container-footer>

</div>