@import "../../../../variables.scss";
.container {
    box-sizing: border-box;
    background-color: $primary;
    width: 687px;
    height: 542px;
    border-radius: 12px;
    padding: 25px 0;
}

.container__main__list {
    list-style: none;
}

.container__main__list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__main__list__item {
    width: 575px;
    height: 120px;
    margin-bottom: 20px;
    position: relative;
    &:last-child {
        margin-bottom: 0;
    }
    >img {
        width: 100%;
        height: 100%;
    }
    >.item-body {
        box-sizing: border-box;
        top: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        .item-body__ski-pass__text {
            color: $text-primary;
        }
        .item-body__ski-pass__text_type {
            text-transform: uppercase;
        }
        .item-body__ski-pass__text_price {
            font-size: 24px;
            line-height: 90.69%;
            letter-spacing: -0.035em;
        }
        >div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 20px;
        }
    }
    .item-body__ski-pass__edit-menu__icon {
        width: 4px;
        font-size: 4px;
    }
}