<div class="container container__ski-pass">

    <div class="container-header">
        <div>
            <span class="container-header__title">{{headerTitle}}</span>
            <app-button></app-button>
        </div>
        <a class="container-header__dropdown">
            <mat-icon svgIcon="up-arrow" class="container-header__dropdown__icon"></mat-icon>
        </a>
    </div>

    <div class="container__main">
        <ul class="container__main__list">
            <li *ngFor="let skiPass of skiPasses" class="container__main__list__item">
                <img src={{skiPass.imagePath}} alt={{skiPass.id}}>
                <div class="item-body">
                    <div>
                        <span class="item-body__ski-pass__text item-body__ski-pass__text_type">{{skiPass.type}} {{skiPass.time}}</span>
                        <span class="item-body__ski-pass__text item-body__ski-pass__text_price">{{skiPass.price}} p</span>
                    </div>
                    <a class="item-body__ski-pass__edit-menu">
                        <mat-icon svgIcon="dots" class="item-body__ski-pass__edit-menu__icon"></mat-icon>
                    </a>
                </div>
            </li>
        </ul>
    </div>

    <div class="container__footer">
        <button class="container-footer__show-all">
          <span class="container-footer__show-all__text">{{showAllText}}</span>
          <mat-icon svgIcon="right-arrow" class="container-footer__show-all__right-icon"></mat-icon>
        </button>
    </div>

</div>