@import "../../../../variables.scss";
.create-new {
    border: 1px solid $basic;
    background-color: $primary;
    border-radius: 8px;
    padding: 9px 14px;
    .create-new__plus-icon {
        margin-right: 10px;
        width: 11px;
        height: 11px;
        font-size: 11px;
    }
    .create-new__text {
        font-size: 12px;
        color: $text-basic;
    }
}